# Zmienne środowiskowe
.env
.env.local
.env.production

# Zależności
node_modules/
.pnpm-store/

# Next.js
/.next/
/out/

# Produkcja
/build
/dist

# Debugowanie
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Lokalne
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Prisma
/prisma/migrations/

# Pliki przesłane przez użytkowników
/public/uploads/
